<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.NOTIFICATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantPal"
        tools:targetApi="31">
        <receiver
            android:name=".ui.plant.reminder.ReminderNotification"
            android:enabled="true" />
        <activity
            android:name=".ui.home.analyze.DetailHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.analyze.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.EmailVerificationOtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.disease.DetailDiseaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.disease.DiseasesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.plants.PlantActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.plants.DetailPlantActivity"
            android:exported="false" />
        <activity
            android:name=".ui.discussion.add.AddDiscussionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.edit.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.discussion.detail.DetailDiscussionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.analyze.AnalyzeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgotpw.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.otp.OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.changepassword.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.plant.reminder.SetAlarmActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="plantpal" android:host="reminders" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>
    </application>

</manifest>